<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Welocom to ABD i am calling MSD or VIRAT</h1>
        <h1>Hi i am ABD</h1>
        <a href="{% url 'Dhoni' %}">Navigate to MSD</a>
        <br>
        <a href="{% url 'Virat' %}">Navigate to Virat</a>
    </center> 
</body>
</html>